
#gamefr[data-v-62442d52] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  left: 0;
  overflow: auto;
}
h3[data-v-62442d52] {
}
ul[data-v-62442d52] {
  list-style-type: none;
  padding: 0;
}
li[data-v-62442d52] {
  display: inline-block;
  margin: 0 10px;
}
a[data-v-62442d52] {
  color: #42b983;
}
li.it[data-v-62442d52] {
  display: flex;
  text-align: left;
  max-height: 100px;
  overflow: hidden;

  padding-top: 10px;
}
.url[data-v-62442d52] {
  margin: 5px;
  float: left;
  cursor: pointer;
}
.cur[data-v-62442d52] {
  background: gray;
}
.bt[data-v-62442d52] {
  cursor: pointer;
  margin: 5px 3px;
}
.showAll_k.it[data-v-62442d52] {
  max-height: 100%;
}
.figure-list[data-v-62442d52] {
  margin: 0;
  padding: 0;
}
.figure-list[data-v-62442d52]:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.figure-list li[data-v-62442d52] {
  list-style: none;
  width: calc(25% - 10px);
  margin: 0 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.figure-list li[data-v-62442d52]:last-child {
  margin-right: 0;
}
@media screen and (max-width: 500px) {
.figure-list li[data-v-62442d52] {
    list-style: none;
    width: 48%;
    margin: 0 1% 1% 0;
}
}
.figure-list figure[data-v-62442d52]:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  border-radius: 4px;
}
.figure-list figure[data-v-62442d52] {
  border: 1px solid #000;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding-bottom: 100%; /* 关键就在这里 */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
  border-radius: 4px;
  margin: 0;
}
.figure-list figure a[data-v-62442d52] {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}
li[data-v-62442d52]:hover {
  box-shadow: rgb(245, 108, 108) 0 0 10px;
}
@-webkit-keyframes tada-data-v-62442d52 {
0% {
    transform: scaleX(1);
}
10%,
  20% {
    transform: scale3d(0.8, 0.8, 0.8) rotate(-3deg);
}
30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
}
40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
}
to {
    transform: scaleX(1);
}
}
@keyframes tada-data-v-62442d52 {
0% {
    transform: scaleX(1);
}
10%,
  20% {
    transform: scale3d(0.8, 0.8, 0.8) rotate(-3deg);
}
30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
}
40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
}
to {
    transform: scaleX(1);
}
}
.tada[data-v-62442d52] {
  -webkit-animation-name: tada-data-v-62442d52;
          animation-name: tada-data-v-62442d52;
}
.animated[data-v-62442d52] {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated.infinite[data-v-62442d52] {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.speaking[data-v-62442d52] {
  -webkit-animation: warn-data-v-62442d52 1.5s ease-out 0s infinite;
          animation: warn-data-v-62442d52 1.5s ease-out 0s infinite;
}
@-webkit-keyframes warn-data-v-62442d52 {
0% {
    transform: scale(0.5);
    opacity: 1;
}
30% {
    opacity: 1;
}
100% {
    transform: scale(1.4);
    opacity: 0;
}
}
@keyframes warn-data-v-62442d52 {
0% {
    transform: scale(0.5);
    opacity: 1;
}
30% {
    opacity: 1;
}
100% {
    transform: scale(1.4);
    opacity: 0;
}
}
.itemText[data-v-62442d52] {
  text-align: left;
  position: absolute;
  top: 1px;
  z-index: 1;
  left: 1px;
}
.itemText span[data-v-62442d52] {
  display: block;
  float: left;
  background: white;
}
.itemText span[data-v-62442d52]:first-child {
  background: white;
}
.itemText span[data-v-62442d52]:last-child {
  background: white;
}
.aDSsMd-open[data-v-62442d52] {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -4px;
  left: -4px;
  transform: scale(0.5);
  background: url(//m.baidu.com/static/ecom/img/pc/pc-video-volume@2_5ae888e.png)
    no-repeat;
}

.tools[data-v-46a731c1]{text-align:left;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.tools>*[data-v-46a731c1]{margin:3px;color:#fff}.tools>span[data-v-46a731c1]{display:inline-block;cursor:pointer}.red[data-v-46a731c1]{color:red}.green[data-v-46a731c1]{color:#90ee90}label[data-v-46a731c1]{display:inline-block;border-bottom:1px solid #fff;margin-right:5px}

span.al[data-v-fe780f20] {
  border: 1px solid gray;
  display: inline-block;
  margin: 3px;
  padding: 3px;
  font-weight: bold;
  font-size: 1.4em;
  width: 1.5em;
  text-align: center;
}
span.al.hide[data-v-fe780f20] {
  display: none;
}
#gamefr[data-v-fe780f20] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(200, 200, 200, 0.8);
}
h3[data-v-fe780f20] {
}
ul[data-v-fe780f20] {
  list-style-type: none;
  padding: 0;
}
li[data-v-fe780f20] {
  display: inline-block;
  margin: 0 10px;
}
a[data-v-fe780f20] {
  color: #42b983;
}
li.it[data-v-fe780f20] {
  display: flex;
  text-align: left;
  max-height: 100px;
  overflow: hidden;

  padding-top: 10px;
}
.url[data-v-fe780f20] {
  margin: 5px;
  float: left;
  cursor: pointer;
}
.cur[data-v-fe780f20] {
  background: gray;
}
.bt[data-v-fe780f20] {
  cursor: pointer;
  margin: 5px 3px;
}
.showAll_k.it[data-v-fe780f20] {
  max-height: 100%;
}
.figure-list[data-v-fe780f20] {
  margin: 0;
  padding: 0;
}
.figure-list[data-v-fe780f20]:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.figure-list li img[data-v-fe780f20] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
  transition: all 0.3s;
}
.figure-list li[data-v-fe780f20] {
  list-style: none;
  width: calc(25% - 10px);
  margin: 0 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  border-radius: 14px;
  background: white;
  /*display: table-cell;*/
  padding: 5px;
  background: white;
  /* display: table-cell; */
  border: solid 1px #ccc;
  position: relative;
}
.figure-list li[data-v-fe780f20]:nth-last-child(1):first-child {
  width: calc(400px - 10px);
}
.figure-list li[data-v-fe780f20]:last-child {
  margin-right: 0;
}
@media screen and (max-width: 980px) {
.figure-list li[data-v-fe780f20] {
    list-style: none;
    width: calc(50% - 10px);
    margin: 5px;
}
.figure-list li[data-v-fe780f20]:nth-last-child(1):first-child {
    width: 98%;
}
}

/*.figure-list figure:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border-radius: 4px;
}*/
.figure-list figure[data-v-fe780f20] {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding-bottom: 100%; /* 关键就在这里 */
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-size: contain;
  transition: all 1s;
  margin: 0;
  border-radius: 10px;
}
.figure-list figure a[data-v-fe780f20] {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}
li[data-v-fe780f20]:hover {
  box-shadow: rgb(245, 108, 108) 0 0 10px;
}
li.ready[data-v-fe780f20]:hover {
  box-shadow: none;
}
@-webkit-keyframes tada-data-v-fe780f20 {
0% {
    transform: rotateY(0deg);
}
100% {
    transform: rotateY(-180deg);
}
}
@keyframes tada-data-v-fe780f20 {
0% {
    transform: rotateY(0deg);
}
100% {
    transform: rotateY(-180deg);
}
}
.tada[data-v-fe780f20] {
  -webkit-animation-name: tada-data-v-fe780f20;
          animation-name: tada-data-v-fe780f20;
}
.animated[data-v-fe780f20] {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated.infinite[data-v-fe780f20] {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.speaking[data-v-fe780f20] {
  -webkit-animation: warn-data-v-fe780f20 1.5s ease-out 0s infinite;
          animation: warn-data-v-fe780f20 1.5s ease-out 0s infinite;
}
@-webkit-keyframes warn-data-v-fe780f20 {
0% {
    transform: scale(0.5);
    opacity: 1;
}
30% {
    opacity: 1;
}
100% {
    transform: scale(1.4);
    opacity: 0;
}
}
@keyframes warn-data-v-fe780f20 {
0% {
    transform: scale(0.5);
    opacity: 1;
}
30% {
    opacity: 1;
}
100% {
    transform: scale(1.4);
    opacity: 0;
}
}
.itemText[data-v-fe780f20] {
  text-align: left;
  position: absolute;
  font-size: 2em;
  display: flex;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  align-items: center;
  text-align: center;
}
.itemText span[data-v-fe780f20] {
  display: block;
  width: 100%;
  color: black;
}
.itemText span[data-v-fe780f20]:first-child {
  background: white;
}
.itemText span[data-v-fe780f20]:last-child {
  background: white;
}
.aDSsMd-open[data-v-fe780f20] {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -4px;
  left: -4px;
  transform: scale(0.5);
  background: url(//m.baidu.com/static/ecom/img/pc/pc-video-volume@2_5ae888e.png)
    no-repeat;
}
.yes[data-v-fe780f20] {
  -webkit-animation: fadenum-data-v-fe780f20 1s;
          animation: fadenum-data-v-fe780f20 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes fadenum-data-v-fe780f20 {
0% {
    transform: scale(1, 1);
}
100% {
    transform: scale(0, 0);
}
}
@keyframes fadenum-data-v-fe780f20 {
0% {
    transform: scale(1, 1);
}
100% {
    transform: scale(0, 0);
}
}
.card[data-v-fe780f20] {
  margin: auto;
  width: calc(25% - 10px);
  background-color: transparent;
}
.card__content[data-v-fe780f20] {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 1s;
  transform-style: preserve-3d;
}
.click .card__content[data-v-fe780f20] {
  transform: rotateY(180deg);
}
.card__front[data-v-fe780f20],
.card__back[data-v-fe780f20] {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__front[data-v-fe780f20] {
  font-size: 150px;
}
.card__back[data-v-fe780f20] {
  transform: rotateY(180deg);
}
.itemText span.red[data-v-fe780f20] {
  color: red;
}
.itemText span.green[data-v-fe780f20] {
  color: green;
}
.centered[data-v-fe780f20] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

