
button[data-v-0edd0afd] {
  font-size: 150%;
}
#topbts[data-v-0edd0afd] {
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
}
#container[data-v-0edd0afd] {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}
#container canvas[data-v-0edd0afd],
#container svg[data-v-0edd0afd] {
  display: block;
  box-sizing: border-box;
  position: absolute;
}
*[data-v-0edd0afd] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#bts[data-v-0edd0afd] {
  bottom: 0;
  z-index: 1;
  left: 0;
  background: #ddd;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
#bts a[data-v-0edd0afd] {
  font-size: 200%;
}
.selected[data-v-0edd0afd] {
  background-color: blue;
}
.spell[data-v-0edd0afd] {
  height: 100%;
  width: 100%;
  font-size: calc(min(25vw, 25vh));
  color: #eee;
  z-index: -1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-all;
  background-color: transparent;
}
.rotate button[data-v-0edd0afd] {
  transform: rotate(-90deg);
  transform-origin: top left;
}


button[data-v-1cf4bbe9] {
  font-size: 150%;
}
#topbts[data-v-1cf4bbe9] {
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
}
#container[data-v-1cf4bbe9] {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}
canvas[data-v-1cf4bbe9] {
  display: block;
  box-sizing: border-box;
  position: absolute;
}
*[data-v-1cf4bbe9] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#bts[data-v-1cf4bbe9] {
  bottom: 0;
  z-index: 1;
  left: 0;
  background: #ddd;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
#bts a[data-v-1cf4bbe9]{
  font-size: 200%;
}
.selected[data-v-1cf4bbe9] {
  background-color: blue;
}
.spell[data-v-1cf4bbe9] {
  height: 100%;
  width: 100%;
  font-size: calc(min(25vw, 25vh));
  color: #eee;
  z-index: -1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-all;
  background-color: transparent;
}
.rotate button[data-v-1cf4bbe9] {
  transform: rotate(-90deg);
  transform-origin: top left;
}


#svg1[data-v-51acce70] {
  cursor: url(/cursor_brush.png) 14 59, crosshair;
}


button[data-v-12cb00a4] {
  font-size: 150%;
}
#topbts[data-v-12cb00a4] {
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
}
#container[data-v-12cb00a4] {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}
canvas[data-v-12cb00a4] {
  display: block;
  box-sizing: border-box;
  position: absolute;
}
*[data-v-12cb00a4] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#bts[data-v-12cb00a4] {
  bottom: 0;
  z-index: 1;
  left: 0;
  background: #ddd;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
#bts a[data-v-12cb00a4] {
  font-size: 200%;
}
.selected[data-v-12cb00a4] {
  background-color: blue;
}
.spell[data-v-12cb00a4] {
  height: 100%;
  width: 100%;
  font-size: calc(min(25vw, 25vh));
  color: #eee;
  z-index: -1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-all;
  background-color: transparent;
}
.rotate button[data-v-12cb00a4] {
  transform: rotate(-90deg);
  transform-origin: top left;
}
#svg1[data-v-12cb00a4] {
  cursor: url(/cursor_brush.png) 14 59, crosshair;
}


span.al[data-v-5e2eae4f] {
  border: 1px solid gray;
  display: inline-block;
  margin: 3px;
  padding: 3px;
  font-weight: bold;
  font-size: 2em;
  width: 1.2em;
  text-align: center;
}
span.al.hide[data-v-5e2eae4f] {
  display: none;
}


span.al[data-v-f82d8ac6] {
  border: 1px solid gray;
  display: inline-block;
  margin: 3px;
  padding: 3px;
  font-weight: bold;
  font-size: 2em;
  width: 1.2em;
  text-align: center;
}
span.al.hide[data-v-f82d8ac6] {
  display: none;
}


#gamefr[data-v-04c4abda] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  left: 0;
  overflow: auto;
}
h3[data-v-04c4abda] {
}
ul[data-v-04c4abda] {
  list-style-type: none;
  padding: 0;
}
li[data-v-04c4abda] {
  display: inline-block;
  margin: 0 10px;
}
a[data-v-04c4abda] {
  color: #42b983;
}
li.it[data-v-04c4abda] {
  display: flex;
  text-align: left;
  max-height: 100px;
  overflow: hidden;

  padding-top: 10px;
}
.url[data-v-04c4abda] {
  margin: 5px;
  float: left;
  cursor: pointer;
}
.cur[data-v-04c4abda] {
  background: gray;
}
.bt[data-v-04c4abda] {
  cursor: pointer;
  margin: 5px 3px;
}
.showAll_k.it[data-v-04c4abda] {
  max-height: 100%;
}
.figure-list[data-v-04c4abda] {
  margin: 0;
  padding: 0;
}
.figure-list[data-v-04c4abda]:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.figure-list li[data-v-04c4abda] {
  list-style: none;
  width: calc(25% - 10px);
  margin: 0 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.figure-list li[data-v-04c4abda]:last-child {
  margin-right: 0;
}
@media screen and (max-width: 500px) {
.figure-list li[data-v-04c4abda] {
    list-style: none;
    width: 48%;
    margin: 0 1% 1% 0;
}
}
.figure-list figure[data-v-04c4abda]:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  border-radius: 4px;
}
.figure-list figure[data-v-04c4abda] {
  border: 1px solid #000;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding-bottom: 100%; /* 关键就在这里 */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
  border-radius: 4px;
  margin: 0;
}
.figure-list figure a[data-v-04c4abda] {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}
li[data-v-04c4abda]:hover {
  box-shadow: rgb(245, 108, 108) 0 0 10px;
}
@keyframes tada-04c4abda {
0% {
    transform: scaleX(1);
}
10%,
  20% {
    transform: scale3d(0.8, 0.8, 0.8) rotate(-3deg);
}
30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
}
40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
}
to {
    transform: scaleX(1);
}
}
.tada[data-v-04c4abda] {
  animation-name: tada-04c4abda;
}
.animated[data-v-04c4abda] {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated.infinite[data-v-04c4abda] {
  animation-iteration-count: infinite;
}
.speaking[data-v-04c4abda] {
  animation: warn-04c4abda 1.5s ease-out 0s infinite;
}
@keyframes warn-04c4abda {
0% {
    transform: scale(0.5);
    opacity: 1;
}
30% {
    opacity: 1;
}
100% {
    transform: scale(1.4);
    opacity: 0;
}
}
.itemText[data-v-04c4abda] {
  text-align: left;
  position: absolute;
  top: 1px;
  z-index: 1;
  left: 1px;
}
.itemText span[data-v-04c4abda] {
  display: block;
  float: left;
  background: white;
}
.itemText span[data-v-04c4abda]:first-child {
  background: white;
}
.itemText span[data-v-04c4abda]:last-child {
  background: white;
}
.aDSsMd-open[data-v-04c4abda] {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -4px;
  left: -4px;
  transform: scale(0.5);
  background: url(//m.baidu.com/static/ecom/img/pc/pc-video-volume@2_5ae888e.png)
    no-repeat;
}

.tools[data-v-37f14c2b]{text-align:left;-webkit-user-select:none;-moz-user-select:none;user-select:none}.tools>*[data-v-37f14c2b]{margin:3px;color:#fff}.tools>span[data-v-37f14c2b]{display:inline-block;cursor:pointer}.red[data-v-37f14c2b]{color:red}.green[data-v-37f14c2b]{color:#90ee90}label[data-v-37f14c2b]{display:inline-block;border-bottom:1px solid #fff;margin-right:5px}.items>div[data-v-37f14c2b]{margin:10px}

#gamefr[data-v-df3403de] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(200, 200, 200, 0.8);
}
h3[data-v-df3403de] {}
ul[data-v-df3403de] {
  list-style-type: none;
  padding: 0;
}
li[data-v-df3403de] {
  display: inline-block;
  margin: 0 10px;
}
a[data-v-df3403de] {
  color: #42b983;
}
li.it[data-v-df3403de] {
  display: flex;
  text-align: left;
  max-height: 100px;
  overflow: hidden;

  padding-top: 10px;
}
.url[data-v-df3403de] {
  margin: 5px;
  float: left;
  cursor: pointer;
}
.cur[data-v-df3403de] {
  background: gray;
}
.bt[data-v-df3403de] {
  cursor: pointer;
  margin: 5px 3px;
}
.showAll_k.it[data-v-df3403de] {
  max-height: 100%;
}
.figure-list[data-v-df3403de] {
  margin: 0;
  padding: 0;
}
.figure-list[data-v-df3403de]:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.figure-list li img[data-v-df3403de] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
  transition: all 0.3s;
}
.figure-list li[data-v-df3403de] {
  list-style: none;
  width: calc(25% - 10px);
  margin: 0 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  border-radius: 14px;
  background: white;
  /*display: table-cell;*/
  padding: 5px;
  background: white;
  /* display: table-cell; */
  border: solid 1px #ccc;
  position: relative;
}
.figure-list li[data-v-df3403de]:nth-last-child(1):first-child {
  width: calc(400px - 10px);
}
.figure-list li[data-v-df3403de]:last-child {
  margin-right: 0;
}
@media screen and (max-width: 980px) {
.figure-list li[data-v-df3403de] {
    list-style: none;
    width: calc(50% - 10px);
    margin: 5px;
}
.figure-list li[data-v-df3403de]:nth-last-child(1):first-child {
    width: 98%;
}
}

/*.figure-list figure:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border-radius: 4px;
}*/
.figure-list figure[data-v-df3403de] {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding-bottom: 100%;
  /* 关键就在这里 */
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-size: contain;
  transition: all 1s;
  margin: 0;
  border-radius: 10px;
}
.figure-list figure a[data-v-df3403de] {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}
li[data-v-df3403de]:hover {
  box-shadow: rgb(245, 108, 108) 0 0 10px;
}
li.ready[data-v-df3403de]:hover {
  box-shadow: none;
}
@keyframes tada-df3403de {
0% {
    transform: rotateY(0deg);
}
100% {
    transform: rotateY(-180deg);
}
}
.tada[data-v-df3403de] {
  animation-name: tada-df3403de;
}
.animated[data-v-df3403de] {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated.infinite[data-v-df3403de] {
  animation-iteration-count: infinite;
}
.speaking[data-v-df3403de] {
  animation: warn-df3403de 1.5s ease-out 0s infinite;
}
@keyframes warn-df3403de {
0% {
    transform: scale(0.5);
    opacity: 1;
}
30% {
    opacity: 1;
}
100% {
    transform: scale(1.4);
    opacity: 0;
}
}
.itemText[data-v-df3403de] {
  text-align: left;
  position: absolute;
  font-size: 2em;
  display: flex;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  align-items: center;
  text-align: center;
}
.itemText span[data-v-df3403de] {
  display: block;
  width: 100%;
  color: black;
}
.itemText span[data-v-df3403de]:first-child {
  background: white;
}
.itemText span[data-v-df3403de]:last-child {
  background: white;
}
.aDSsMd-open[data-v-df3403de] {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -4px;
  left: -4px;
  transform: scale(0.5);
  background: url(//m.baidu.com/static/ecom/img/pc/pc-video-volume@2_5ae888e.png) no-repeat;
}
.yes[data-v-df3403de] {
  animation: fadenum-df3403de 1s;
  animation-fill-mode: forwards;
}
@keyframes fadenum-df3403de {
0% {
    transform: scale(1, 1);
}
100% {
    transform: scale(0, 0);
}
}
.card[data-v-df3403de] {
  margin: auto;
  width: calc(25% - 10px);
  background-color: transparent;
}
.card__content[data-v-df3403de] {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 1s;
  transform-style: preserve-3d;
}
.click .card__content[data-v-df3403de] {
  transform: rotateY(180deg);
}
.card__front[data-v-df3403de],
.card__back[data-v-df3403de] {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__front[data-v-df3403de] {
  font-size: 150px;
}
.card__back[data-v-df3403de] {
  transform: rotateY(180deg);
}
.itemText span.red[data-v-df3403de] {
  color: red;
}
.itemText span.green[data-v-df3403de] {
  color: green;
}
.centered[data-v-df3403de] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.star[data-v-df3403de] {
  color: gray;
  opacity: 0.5;
  font-size: 70%;
}
.star.enable[data-v-df3403de] {
  color: red;
  opacity: 1;
}

